@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  height: 50px;
}

.icon {
  font-size: 48px;
  color: #495057;
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;

  color: #495057;
  text-align: center;
  flex: 1;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .icon {
    font-size: 20px;
  }

  .title {
    font-size: 16px;
  }
}
