/* TipsButton.module.css */
.buttonContainer {
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* アイコンとテキストを垂直に中央揃え */
}

.icon{
  height: auto;
  color: #495057;
}

.text {
  margin: 0;
  font-size: 8px;
}
