.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.progress {
  width: 80%;
  height: 30px;
  margin: 10px auto;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progressBar {
  height: 100%;
  transition: width 1s linear;
}

.progressBarInfo {
  background-color: #5bc0de;
}

.progressBarWarning {
  background-color: #f0ad4e;
}

.progressBarDanger {
  background-color: #d9534f;
}

.textDanger {
  color: #d9534f;
}
