.table_container {
  margin: 20px 20px;
  padding: 20px;
  color: white;
  font-family: "Arial", sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table thead th {
  background-color: #6c7ae0;
  color: #ffffff;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #6c7ae0;
  color: white;
}

.table tr {
  transition: background-color 0.3s ease;
}

.table tr td {
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.user_row {
  border-bottom: 1px solid #444;
  color: #ffffff;
  background-color: #3a3f47;
}
